{
  "parser": "esprima",
  "extends": "airbnb-base",
  "rules": {
      "indent": ["error", 4],
      "comma-dangle": ["error", "never"],
      "no-use-before-define": ["error", { "functions": false, "classes": true }],
      "prefer-template": "off"

  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  },
  "env": {
    "browser": true,
    "node": true
  }
}
